# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env

# Node
node_modules/
.next/
out/
build/
dist/

# System
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Project Specific
postgres_data/
minio_data/
start_all.sh
stop_all.sh

# Video files
*.mp4
